{block #content}
    <div class="page-header"><h1>{_$h1}</h1></div>
    <p n:isAllowed="map,edit">
        <a n:href="Map:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New map"}</a>
    </p>
    {control gridMap}
{/block}